___
# PROJETO 1

## Ana Capriles
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [42]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [43]:
d15 = pd.read_csv('DOM2015.csv',sep=',')
d14 = pd.read_csv('DOM2014.csv',sep=',')

In [50]:
#Seleção de variáveis
dados15 = d15.loc[:,['UF', 'V0105', 'V0201', 'V0202', 'V0205', 'V0207', 'V0208', 'V0209']]

#Renomeando as colunas
dados15.columns = ['UF', 'total_de_moradores', 'especie_do_domicilio', 'tipo_do_domicilio', 'numero_de_comodos', 'condicao_de_ocupacao', 
                   'aluguel_pago_no_mes', 'prestacao_paga_no_mes']
#dados14.columns = ['UF', 'Total de Moradores', ]

In [53]:
#variáveis qualitativas: regiões, espécie do domicílio, tipo do domicílio, condição de ocupação
#variáveis quantitativas: total de moradores, número de cômodos
    
#classificando as variáveis qualitativas
dados15.especie_do_domicilio = dados15.especie_do_domicilio.astype('category')
dados15.tipo_do_domicilio = dados15.tipo_do_domicilio.astype('category')

dados15.especie_do_domicilio.cat.categories = ('Particular Permanente', 'Particular Improvisado', 'Coletivo')
dados15.tipo_do_domicilio.cat.categories = ('Casa', 'Apartamento', 'Cômodo')

In [54]:
#Criação de coluna para regiões
dados15.insert(1,'REGIAO',0)

In [55]:
#Dividindo as UFs em regiões
def regioes(dataframe):
    dataframe.ix[dataframe.UF <= 17,'Região'] = 'Norte'
    dataframe.ix[(dataframe.UF >=21) & (dataframe.UF<=29),'REGIAO'] = 'Nordeste'
    dataframe.ix[(dataframe.UF >=31) & (dataframe.UF<=35),'REGIAO'] = 'Sudeste'
    dataframe.ix[(dataframe.UF >=41) & (dataframe.UF<=43),'REGIAO'] = 'Sul'
    dataframe.ix[dataframe.UF >=50 ,'Região'] = 'Centro-Oeste'
regioes(dados15)

In [56]:
dados15.head()

,UF,REGIAO,total_de_moradores,especie_do_domicilio,tipo_do_domicilio,numero_de_comodos,condicao_de_ocupacao,aluguel_pago_no_mes,prestacao_paga_no_mes,Região
0,11,0,1.0,Particular Permanente,Apartamento,4.0,3.0,500.0,NaN,Norte
1,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Norte
2,11,0,1.0,Particular Permanente,Apartamento,2.0,3.0,350.0,NaN,Norte
3,11,0,6.0,Particular Permanente,Casa,7.0,1.0,NaN,NaN,Norte
4,11,0,2.0,Particular Permanente,Casa,7.0,1.0,NaN,NaN,Norte