___
# PROJETO 2

# Ana Capriles
___

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from scipy import stats

In [2]:
pd.read_excel('Life.xlsx')

,Life expectancy with projections. Yellow is IHME,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,28.21100,28.200753,28.190507,28.180260,28.170013,28.159767,28.149520,28.139273,28.129027,...,52.500,52.900,53.200,53.600,54.000,54.500,54.800,55.200,55.500,56.200
1,Albania,35.40000,35.400000,35.400000,35.400000,35.400000,35.400000,35.400000,35.400000,35.400000,...,74.400,74.400,74.500,74.700,74.900,75.000,75.200,75.500,75.700,75.800
2,Algeria,28.82240,28.822400,28.822400,28.822400,28.822400,28.822400,28.822400,28.822400,28.822400,...,74.200,74.500,74.800,75.000,75.300,75.600,75.900,76.100,76.200,76.300
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.000,83.100,83.200,83.400,83.500,83.600,83.700,83.800,83.800,83.900
5,Angola,26.98000,26.980000,26.980000,26.980000,26.980000,26.980000,26.980000,26.980000,26.980000,...,55.200,56.000,56.900,57.600,58.300,58.900,59.400,59.700,60.100,60.400
6,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Antigua and Barbuda,33.53600,33.536000,33.536000,33.536000,33.536000,33.536000,33.536000,33.536000,33.536000,...,74.300,74.300,74.400,74.600,74.800,75.100,75.200,75.200,75.200,75.200
8,Argentina,33.20000,33.200000,33.200000,33.200000,33.200000,33.200000,33.200000,33.200000,33.200000,...,75.000,75.400,75.500,75.400,75.500,75.600,75.800,75.900,75.900,76.000
9,Armenia,33.99500,33.995000,33.995000,33.995000,33.995000,33.995000,33.995000,33.995000,33.995000,...,72.100,72.200,72.200,72.300,72.500,72.600,72.900,73.200,73.500,73.800
10,Aruba,34.41900,34.419000,34.419000,34.419000,34.419000,34.419000,34.419000,34.419000,34.419000,...,74.175,74.316,74.467,74.621,74.772,74.919,75.059,75.193,75.324,75.455
11,Australia,34.05000,34.050000,34.050000,34.050000,34.050000,34.050000,34.050000,34.050000,34.050000,...,81.000,81.200,81.400,81.500,81.500,81.600,81.700,81.800,81.800,81.800
12,Austria,34.40000,34.400000,34.400000,34.400000,34.400000,34.400000,34.400000,34.400000,34.400000,...,79.300,79.600,80.000,80.200,80.400,80.400,80.500,80.700,80.700,80.800
13,Azerbaijan,29.16500,29.165000,29.165000,29.165000,29.165000,29.165000,29.165000,29.165000,29.165000,...,69.300,69.500,69.900,70.300,70.600,71.000,71.400,71.700,72.000,72.300
14,Bahamas,35.17900,35.179000,35.179000,35.179000,35.179000,35.179000,35.179000,35.179000,35.179000,...,71.900,72.100,72.100,72.100,72.200,72.300,72.400,72.500,72.600,72.500
15,Bahrain,30.30000,30.300000,30.300000,30.300000,30.300000,30.300000,30.300000,30.300000,30.300000,...,74.800,75.200,75.700,76.400,77.100,77.700,78.200,78.400,78.900,79.000
16,Bangladesh,25.50000,25.500000,25.500000,25.500000,25.500000,25.500000,25.500000,25.500000,25.500000,...,67.600,67.900,68.100,68.100,68.400,68.500,68.600,68.900,69.200,69.500
17,Barbados,32.12400,32.124000,32.124000,32.124000,32.124000,32.124000,32.124000,32.124000,32.124000,...,74.900,75.000,75.100,75.200,75.300,75.300,75.400,75.500,75.500,75.600
18,Belarus,36.20000,36.200000,36.200000,36.200000,36.200000,36.200000,36.200000,36.200000,36.200000,...,68.400,68.800,69.200,69.800,70.100,70.200,70.200,70.100,70.100,70.200
19,Belgium,40.00000,40.008049,40.016098,40.024146,40.032195,40.040244,40.048293,40.056341,40.064390,...,78.900,79.200,79.300,79.400,79.400,79.600,79.800,80.000,80.100,80.200
20,Belize,26.50000,26.500000,26.500000,26.500000,26.500000,26.500000,26.500000,26.500000,26.500000,...,70.400,70.600,70.800,70.800,70.700,70.300,70.100,70.000,70.000,70.000
21,Benin,31.00000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,31.000000,...,60.900,61.400,62.100,62.700,63.200,63.600,64.000,64.300,64.600,64.900
22,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Bhutan,28.79900,28.799000,28.799000,28.799000,28.799000,28.799000,28.799000,28.799000,28.799000,...,66.300,66.600,66.900,67.300,67.600,67.900,68.300,68.700,69.000,69.400
24,Bolivia,33.00000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,...,69.700,70.000,70.300,70.600,70.900,71.100,71.300,71.500,71.700,71.900
25,Bosnia and Herzegovina,35.10000,35.100000,35.100000,35.100000,35.100000,35.100000,35.100000,35.100000,35.100000,...,75.800,75.700,75.600,75.600,75.900,76.200,76.500,77.000,77.300,77.500
26,Botswana,33.60000,33.600000,33.600000,33.600000,33.600000,33.600000,33.600000,33.600000,33.600000,...,51.000,54.300,57.500,60.100,61.200,62.600,64.500,65.700,65.500,65.800
27,Brazil,32.00000,31.999807,31.999613,31.999420,31.999227,31.999033,31.998840,31.998647,31.998453,...,73.000,73.400,73.700,73.800,73.900,74.000,74.200,74.500,74.700,75.000
28,British Virgin Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Brunei,29.20000,29.200000,29.200000,29.200000,29.200000,29.200000,29.200000,29.200000,29.200000,...,77.100,77.300,77.400,77.500,77.800,78.100,78.500,78.700,78.700,78.700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Tanzania,32.20000,32.200000,32.200000,32.200000,32.200000,32.200000,32.200000,32.200000,32.200000,...,56.700,57.200,57.900,58.700,59.700,60.300,60.900,61.400,61.600,62.200
215,Thailand,30.40000,30.400000,30.400000,30.400000,30.400000,30.400000,30.400000,30.400000,30.400000,...,72.000,72.800,73.300,73.700,74.100,74.400,74.600,74.700,74.800,74.900
216,Timor-Leste,28.94900,28.949000,28.949000,28.949000,28.949000,28.949000,28.949000,28.949000,28.949000,...,66.400,67.000,67.600,68.100,68.700,69.300,69.800,70.400,70.900,71.400
217,Togo,31.30000,31.300000,31.300000,31.300000,31.300000,31.300000,31.300000,31.300000,31.300000,...,58.900,59.000,59.400,59.700,60.000,60.500,61.000,61.700,62.400,63.000
218,Tokelau,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,69.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,Tonga,28.20000,28.200000,28.200000,28.200000,28.200000,28.200000,28.200000,28.200000,28.200000,...,69.300,69.500,69.700,69.800,69.900,69.800,70.100,70.100,70.200,70.300
220,Trinidad and Tobago,32.90000,32.900000,32.900000,32.900000,32.900000,32.900000,32.900000,32.900000,32.900000,...,70.400,70.900,71.200,71.300,71.300,71.200,71.100,71.100,71.100,71.200
221,Tunisia,28.80000,28.800000,28.800000,28.800000,28.800000,28.800000,28.800000,28.800000,28.800000,...,75.800,76.000,76.200,76.300,76.500,76.600,76.800,76.900,77.000,77.100
222,Turkey,35.00000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,...,73.400,73.800,74.300,74.700,75.100,75.400,75.700,76.000,76.200,76.300
223,Turkmenistan,24.00000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,64.400,64.800,65.100,65.500,65.900,66.300,66.600,67.000,67.300,67.500
224,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,Uganda,25.30000,25.300000,25.300000,25.300000,25.300000,25.300000,25.300000,25.300000,25.300000,...,53.300,54.500,55.900,56.600,57.200,57.900,58.400,58.800,59.300,59.800
227,Ukraine,36.60000,36.600000,36.600000,36.600000,36.600000,36.600000,36.600000,36.600000,36.600000,...,67.300,67.200,67.300,67.600,68.200,69.300,70.400,71.200,71.500,71.700
228,United Arab Emirates,30.70000,30.700000,30.700000,30.700000,30.700000,30.700000,30.700000,30.700000,30.700000,...,74.900,75.300,75.600,75.800,76.000,76.100,76.200,76.200,76.300,76.400
229,United Kingdom,38.64976,37.350824,38.615600,37.316843,41.436916,42.317259,43.216112,40.045939,40.347793,...,78.800,79.100,79.300,79.400,79.500,79.700,80.000,80.400,80.800,81.000
230,United States,39.41000,39.410000,39.410000,39.410000,39.410000,39.410000,39.410000,39.410000,39.410000,...,77.600,77.700,77.800,78.100,78.200,78.300,78.500,78.700,78.800,78.900
231,Uruguay,32.90000,32.900000,32.900000,32.900000,32.900000,32.900000,32.900000,32.900000,32.900000,...,75.200,75.400,75.500,75.700,76.000,76.300,76.500,76.600,76.700,76.900
232,Uzbekistan,26.92600,26.926000,26.926000,26.926000,26.926000,26.926000,26.926000,26.926000,26.926000,...,68.100,68.100,68.300,68.500,68.700,68.900,69.100,69.300,69.500,69.700
233,Wallis et Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
234,Vanuatu,24.30000,24.300000,24.300000,24.300000,24.300000,24.300000,24.300000,24.300000,24.300000,...,63.100,63.100,63.300,63.400,63.600,63.800,64.000,64.200,64.400,64.600
235,Venezuela,32.20000,32.200000,32.200000,32.200000,32.200000,32.200000,32.200000,32.200000,32.200000,...,74.600,75.000,74.800,74.600,74.400,74.500,74.700,75.000,75.200,75.400
236,West Bank and Gaza,32.10000,32.100000,32.100000,32.100000,32.100000,32.100000,32.100000,32.100000,32.100000,...,73.600,73.700,73.300,73.700,73.500,73.600,74.000,74.100,74.300,74.600
237,Western Sahara,34.75300,34.753000,34.753000,34.753000,34.753000,34.753000,34.753000,34.753000,34.753000,...,64.583,65.008,65.409,65.790,66.155,66.507,66.844,67.167,67.473,67.764
238,Vietnam,32.00000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,...,74.300,74.600,75.000,75.200,75.400,75.600,75.800,76.000,76.200,76.300
239,Virgin Islands (U.S.),33.40300,33.403000,33.403000,33.403000,33.403000,33.403000,33.403000,33.403000,33.403000,...,78.358,78.522,78.688,78.861,79.047,79.247,79.463,79.690,79.922,80.152
240,"Yemen, Rep.",23.38700,23.387000,23.387000,23.387000,23.387000,23.387000,23.387000,23.387000,23.387000,...,64.700,65.000,65.400,65.500,65.900,66.200,66.500,66.500,66.700,67.000
241,Zambia,32.60000,32.600000,32.600000,32.600000,32.600000,32.600000,32.600000,32.600000,32.600000,...,47.100,47.900,48.800,49.900,52.000,53.500,54.100,54.600,55.600,56.700
242,Zimbabwe,33.70000,33.700000,33.700000,33.700000,33.700000,33.700000,33.700000,33.700000,33.700000,...,47.800,47.700,47.800,48.400,49.000,49.600,50.400,51.900,54.100,56.000
243,Ã…land,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,79.880,80.000,80.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN

___
## SeleÃ§Ã£o dos trÃªs anos com diferentes formatos de distribuiÃ§Ã£o da expectativa de vida

___
### AnÃ¡lise Descritiva

### AderÃªncia de um modelo probabilÃ­stico normal aos dados

___
### AderÃªncia de um modelo probabilÃ­stico assimÃ©trico aos dados

___
### CÃ¡lculo de probabilidades a partir da distribuiÃ§Ã£o normal